@charset "iso-8859-2";
/* CSS Document */

body {
font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
background:#F2F2F2;
}
div.spacer{
height: 1em;
}
#top{
width:100%;
background: url(../img/bg-top.jpg) #303030 repeat-x center;
height: 190px;
position:relative;
top:0;
left:0;
}
.bhtop {
color: #999;
font-size: 11px;
text-align: left;
height: 41px;
line-height: 41px;
border-color:#00FF33;
/*border:dotted 1px;*/
}
.bhtopfb {
color: #999;
font-size: 12px;
text-align: left;
height: 41px;
line-height: 41px;
}
#menucontenedor{
background:#FFAB00;
color: #999;
font-size: 12px;
text-align: left;
height: 41px;
line-height: 41px;
border-top-left-radius:5px;
border-top-right-radius:5px;
}
.texto-parrafo{
font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 13px;
line-height: 18px;
color: #555;
}
#menu2{
background:#FFAB00;
color: #999;
font-size: 12px;
text-align: left;
height: 41px;
line-height: 41px;
list-style:none;	
}

.menuContainer{
/*	background:#09F;*/
	background: url("../img/bgmenusub.jpg") #FFAB00 repeat-x 0 0;
	height:41px;
	}
	
ul#menu a:hover, ul#menu ul, ul#menu li:hover{
/*	background:#F90;*/
	background:#3C3C3C;
	color:#FFAB00;
	} 
.menuContainer ul{
	list-style:none;	
	margin:0;
	padding:0;
	z-index:99;
	}
ul#menu li{
	float:left;
	position:relative;
	margin-right:10px;
	color:#A68900;
	}
ul#menu a{
	text-decoration:none;
	padding:0px 10px;
	display:block;
	font-weight:bold;
	/*color:#A68900;*/
	/*color:#A66F00;*/
	color:#FFF;
	}
ul#menu ul{
	position:absolute;
	left:0;
	display:none;
	}
ul#menu li:hover ul{
	display:block;
}
ul#menu li:hover ul li{
	margin:0;
}
ul#menu li:hover ul li a{
	width:160px;
	height:42px;
	color:#FFFFFF;
	}
ul#menu li:hover ul a:hover{
/*	background:#0C3;*/
	background:#333333;
	color:#FFAB00;
}

.bhtopfb small a {
background: url(../img/facebook.png) no-repeat right 2px;*/
outline: none;
font-size: 11px;
padding: 0 0px 0 0px;
height: 41px !important;
text-decoration: none;
display: block;
color: #CCC;
}
.bhtopfb small a:hover {
background-position: right -35px;
color: #599BFF;
}


.headerlogo {
overflow: hidden;
font-weight: normal;
color: #BCBCBC;
height: 106px;
/*border:dotted 1px;*/
}

div.logo, div.address {
float: left;
display: inline;
width: 50%;
}
h1#logo {
/*background: transparent url('../img/topsatsc.png') no-repeat 0 0;*/
background: transparent url('img/logotopsatsc.png') no-repeat 0 0;
float: left;
margin: 30px 0 0 0;
width: 170px;
height: 80px;
text-align: left;
outline: none;
}
h1 {
font-size: 22px;
color: #333;
font-weight: 700;
}
.address {
text-align: right;
font-size: 12px;
padding-top: 24px;
line-height: 20px;
}
.address-tex {
text-align: right;
font-size: 15px;
line-height: 20px;
color:#FF9900;
}
.headerlogo div.logo, .headerlogo div.address {
float: left;
display: inline;
width: 50%;
}
#bodyMain{
background:#FFF;
}
#rss{
background:url(img/rss-logo.gif) no-repeat right;
padding:5px 30px 5px 0;
}
a#logo{
background:url(img/vos-voz.gif) no-repeat;
width:470px;
height:92px;
float:left;
margin-top:150px;
}
img#ciudad-logo{
float:left;
}
#header{
border-bottom:5px solid #29231e;
}
#contentMain{
background:#FFFFFF;
padding-top:10px;
border-bottom:5px #A1DEF0 solid;
}
#contentMain h1, #contentMain h3{
color:#4991a5;
}
.articulo{
margin-left:15px;
}
img.border-azul{
margin-bottom:0px;
margin-bottom:10px;
width:286px;
height:161px;
background:#333333;
}
#footer{
font-size:11px;
/*border:dotted 2px;*/
padding-bottom:0px;
border-bottom-right-radius:5px;
}


#footer {
width:100%;
margin:auto;
position:absolute;
font-weight: 400;
color: #777;
margin-top: 10px;
background: url(img/bg-footer.png) #111 repeat-x top;
}

.right {
float: right;
display: inline;
}

.icontent, .bfooter {
clear: both;
width: 988px;
min-width: 988px;
max-width: 988px;
margin: 0 auto;
}
.bfooter {
height: 76px;
}

#icopy {
clear: both;
font-size: 12px;
text-align: center;
padding-top: 30px;
/*<!--border-color:#FFFF00;
border:dotted 1px;-->*/
}
#contenido
{
clear: both;
font-size: 12px;
text-align: center;
padding-top: 5px;
/*border-color:#FFFF00;/*
/*border:dotted 0px;*/
background:#FFF;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
}

/*       Region Slide       */

#slider_container_3 { padding: 10px; width: 900px; border: 0px #FFF solid;}

.SliderName_3 {
	/*float: left;*/
	width: 900px;
	height: 288px;
	overflow: hidden;
}

.SliderNamePrev_3 {
	background: url(img/prev.gif) no-repeat left center;
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}

.SliderNameNext_3 {
	background: url(img/next.gif) no-repeat right center;
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}

.SliderName_3Description {
	padding: 5px;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 1px 3px #000000;
}

#SliderNameNavigation_3 { margin: 0; padding: 5px 0 0 0; height: 16px; text-align: center; overflow-y: hidden; }

#SliderNameNavigation_3 a:link, #SliderNameNavigation_3 a:active, #SliderNameNavigation_3 a:visited, #SliderNameNavigation_3 a:hover{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
}

#SliderNameNavigation_3 a.active:link, #SliderNameNavigation_3 a.active:active, #SliderNameNavigation_3 a.active:visited, #SliderNameNavigation_3 a.active:hover{
	background: url(img/bullet_active.png) no-repeat center center;
}

#SliderNameNavigation_3 a img
{
	border: none;
	width: 16px;
	height: 16px;
	background: url(img/bullet.png) no-repeat center center;
}

#SliderNameNavigation_3 a.active img
{
	background: url(img/bullet_active.png) no-repeat center center;
}
.logos {
clear: both;
height: 75px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin: 0 auto 30px;
padding-bottom:20px;
}
 .brochure {
height: 75px;
background: #81BD02;
margin: 0 auto 15px;
}
.ilogos {
text-align: left;
margin: 0 auto 15px;
}
.brochure, .ilogos {
display: inline;
float:left;
}